{
  "tagFormat": "${version}",
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "publish": [
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/electron-pristine-linux-x64-0.0.0-development.tar.gz",
            "label": "Electron Pristine Linux distribution"
          },
          {
            "path": "dist/mac/*.dmg",
            "label": "Electron Pristine Mac distribution"
          },
          {
            "path": "dist/*.exe",
            "label": "Electron Pristine Windows distribution"
          }
        ]
      }
    ]
  ],
  "success": [
    "@semantic-release/github"
  ],
  "fail": [
    "@semantic-release/github"
  ]
}
